<a href="https://colab.research.google.com/github/Ganeshprasannamax/MongoDB-Task-/blob/main/Telephone_Directory_CRUD_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from pymongo import MongoClient
from pprint import pprint

In [15]:
client = MongoClient("mongodb+srv://Prasanna99:Ganesh@cluster0.k4ozrjz.mongodb.net/?retryWrites=true&w=majority")

In [16]:
client.list_database_names()

['Mongodb_Task', 'telephone', 'admin', 'local']

# Creating a New Database & Collection of telephone Directory

In [17]:
db = client['telephone']

In [18]:
my_col = db['directory']

# Inserting Feilds into the Directory by insert one & insert many opearations

In [40]:
# Inserting a single value 
doc = {"_id" : 1,'Name' : "Sooraj", "Phone_no" : 6854825642, "Address" : "abc street", "Location" : "Chennai"}
my_col.insert_one(doc)

In [22]:
# Finding the values in the collection 
for i in my_col.find():
    pprint(i)

{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Sooraj',
 'Phone_no': 123456789,
 '_id': 1}
{'Address': 'bbc street',
 'Location': 'Chennai',
 'Name': 'Neeraj',
 'Phone_no': 987654321,
 '_id': 2}
{'Address': 'bac street',
 'Location': 'Chennai',
 'Name': 'Mark',
 'Phone_no': 123987456,
 '_id': 3}
{'Address': 'cab street',
 'Location': 'Chennai',
 'Name': 'Anthony',
 'Phone_no': 987321654,
 '_id': 4}
{'Address': 'aaa street',
 'Location': 'Chennai',
 'Name': 'Vikram',
 'Phone_no': 918273645,
 '_id': 5}
{'Address': 'bbb street',
 'Location': 'NCR',
 'Name': 'Jack',
 'Phone_no': 192837465,
 '_id': 6}
{'Address': 'ccc street',
 'Location': 'NCR',
 'Name': 'Mason',
 'Phone_no': 998877665,
 '_id': 7}
{'Address': 'bca street',
 'Location': 'Mumbai',
 'Name': 'Rahim',
 'Phone_no': 978675645,
 '_id': 8}
{'Address': 'cba street',
 'Location': 'Mumbai',
 'Name': 'Gopal',
 'Phone_no': 867564532,
 '_id': 9}
{'Address': 'abc street',
 'Location': 'Bangalore',
 'Name': 'Krishnan',
 'Phone_no': 908897786,
 '_id': 10}
{'Address': 'aca street',
 'Location': 'Bangalore',
 'Name': 'Kumar',
 'Phone_no': 978675567,
 '_id': 11}
{'Address': 'aba street',
 'Location': 'Coimbatore',
 'Name': 'Micheal',
 'Phone_no': 143567387,
 '_id': 12}

In [23]:
# Creating a list of collections 
phone_list = [{"_id" : 2,'Name' : "Neeraj", "Phone_no" : 987654321, "Address" : "bbc street", "Location" : "Chennai"},
              {"_id" : 3,'Name' : "Mark", "Phone_no" : 123987456, "Address" : "bac street", "Location" : "Chennai"},
              {"_id" : 4,'Name' : "Anthony", "Phone_no" : 987321654, "Address" : "cab street", "Location" : "Chennai"},
              {"_id" : 5,'Name' : "Vikram", "Phone_no" : 918273645, "Address" : "aaa street", "Location" : "Chennai"},
              {"_id" : 6,'Name' : "Jack", "Phone_no" : 192837465, "Address" : "bbb street", "Location" : "NCR"},
              {"_id" : 7,'Name' : "Mason", "Phone_no" : 998877665, "Address" : "ccc street", "Location" : "NCR"},
              {"_id" : 8,'Name' : "Rahim", "Phone_no" : 978675645, "Address" : "bca street", "Location" : "Mumbai"},
              {"_id" : 9,'Name' : "Gopal", "Phone_no" : 867564532, "Address" : "cba street", "Location" : "Mumbai"},
              {"_id" : 10,'Name' : "Krishnan", "Phone_no" : 908897786, "Address" : "abc street", "Location" : "Bangalore"},
              {"_id" : 11,'Name' : "Kumar", "Phone_no" : 978675567, "Address" : "aca street", "Location" : "Bangalore"},
              {"_id" : 12,'Name' : "Micheal", "Phone_no" : 143567387, "Address" : "aba street", "Location" : "Coimbatore"}
             ]

In [25]:
# Finding the List of fields 
for i in my_col.find():
    pprint(i)

{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Sooraj',
 'Phone_no': 123456789,
 '_id': 1}
{'Address': 'bbc street',
 'Location': 'Chennai',
 'Name': 'Neeraj',
 'Phone_no': 987654321,
 '_id': 2}
{'Address': 'bac street',
 'Location': 'Chennai',
 'Name': 'Mark',
 'Phone_no': 123987456,
 '_id': 3}
{'Address': 'cab street',
 'Location': 'Chennai',
 'Name': 'Anthony',
 'Phone_no': 987321654,
 '_id': 4}
{'Address': 'aaa street',
 'Location': 'Chennai',
 'Name': 'Vikram',
 'Phone_no': 918273645,
 '_id': 5}
{'Address': 'bbb street',
 'Location': 'NCR',
 'Name': 'Jack',
 'Phone_no': 192837465,
 '_id': 6}
{'Address': 'ccc street',
 'Location': 'NCR',
 'Name': 'Mason',
 'Phone_no': 998877665,
 '_id': 7}
{'Address': 'bca street',
 'Location': 'Mumbai',
 'Name': 'Rahim',
 'Phone_no': 978675645,
 '_id': 8}
{'Address': 'cba street',
 'Location': 'Mumbai',
 'Name': 'Gopal',
 'Phone_no': 867564532,
 '_id': 9}
{'Address': 'abc street',
 'Location': 'Bangalore',
 'Name': 'Krishnan',
 'Phone_no': 908897786,
 '_id': 10}
{'Address': 'aca street',
 'Location': 'Bangalore',
 'Name': 'Kumar',
 'Phone_no': 978675567,
 '_id': 11}
{'Address': 'aba street',
 'Location': 'Coimbatore',
 'Name': 'Micheal',
 'Phone_no': 143567387,
 '_id': 12}

In [26]:
# Finding values with certain criteria
for i in my_col.find({"Location":"Chennai"}, {"_id" : 0, "Name" : 1, "Phone_no": 1}):
    pprint(i)

{'Name': 'Sooraj', 'Phone_no': 123456789}
{'Name': 'Neeraj', 'Phone_no': 987654321}
{'Name': 'Mark', 'Phone_no': 123987456}
{'Name': 'Anthony', 'Phone_no': 987321654}
{'Name': 'Vikram', 'Phone_no': 918273645}

In [27]:
# Finding values with certain criteria
for i in my_col.find({"Address":"abc street", "Location" : "Bangalore"}, {"_id" : 1, "Name" : 1, "Phone_no" : 1}):
    pprint(i)

{'Name': 'Krishnan', 'Phone_no': 908897786, '_id': 10}

# Updating the fields from the respective collection

In [29]:
# Updating a field with a certain condition
q = {"Address" : "abc street", "Location" : "Bangalore"}
u = {"$set" : {"Location": "Chennai"}}
my_col.update_one(q,u)

In [30]:
for i in my_col.find({"Address" : "abc street"}):
    pprint(i)

{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Sooraj',
 'Phone_no': 123456789,
 '_id': 1}
{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Krishnan',
 'Phone_no': 908897786,
 '_id': 10}

In [31]:
# Updating a field with a certain condition
q = {"Location" : "Coimbatore"}
u = {"$unset" : {"Address":""}}
my_col.update_one(q,u)

In [32]:
for i in my_col.find({"Location": "Coimbatore"}):
    pprint(i)

{'Location': 'Coimbatore', 'Name': 'Micheal', 'Phone_no': 143567387, '_id': 12}

In [33]:
# Updating a field with a certain condition
q = {"Location" : "Coimbatore"}
u = {"$set" : {"Address":"bac Street"}}
my_col.update_one(q,u)

In [34]:
for i in my_col.find({"Location": "Coimbatore"}):
    pprint(i)

{'Address': 'bac Street',
 'Location': 'Coimbatore',
 'Name': 'Micheal',
 'Phone_no': 143567387,
 '_id': 12}

In [35]:
for i in my_col.find():
    pprint(i)

{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Sooraj',
 'Phone_no': 123456789,
 '_id': 1}
{'Address': 'bbc street',
 'Location': 'Chennai',
 'Name': 'Neeraj',
 'Phone_no': 987654321,
 '_id': 2}
{'Address': 'bac street',
 'Location': 'Chennai',
 'Name': 'Mark',
 'Phone_no': 123987456,
 '_id': 3}
{'Address': 'cab street',
 'Location': 'Chennai',
 'Name': 'Anthony',
 'Phone_no': 987321654,
 '_id': 4}
{'Address': 'aaa street',
 'Location': 'Chennai',
 'Name': 'Vikram',
 'Phone_no': 918273645,
 '_id': 5}
{'Address': 'bbb street',
 'Location': 'NCR',
 'Name': 'Jack',
 'Phone_no': 192837465,
 '_id': 6}
{'Address': 'ccc street',
 'Location': 'NCR',
 'Name': 'Mason',
 'Phone_no': 998877665,
 '_id': 7}
{'Address': 'bca street',
 'Location': 'Mumbai',
 'Name': 'Rahim',
 'Phone_no': 978675645,
 '_id': 8}
{'Address': 'cba street',
 'Location': 'Mumbai',
 'Name': 'Gopal',
 'Phone_no': 867564532,
 '_id': 9}
{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Krishnan',
 'Phone_no': 908897786,
 '_id': 10}
{'Address': 'aca street',
 'Location': 'Bangalore',
 'Name': 'Kumar',
 'Phone_no': 978675567,
 '_id': 11}
{'Address': 'bac Street',
 'Location': 'Coimbatore',
 'Name': 'Micheal',
 'Phone_no': 143567387,
 '_id': 12}

# Deleting fields inside of the collection "D"

In [36]:
my_col.delete_one({"_id":12})

In [37]:
for i in my_col.find():
    pprint(i)

{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Sooraj',
 'Phone_no': 123456789,
 '_id': 1}
{'Address': 'bbc street',
 'Location': 'Chennai',
 'Name': 'Neeraj',
 'Phone_no': 987654321,
 '_id': 2}
{'Address': 'bac street',
 'Location': 'Chennai',
 'Name': 'Mark',
 'Phone_no': 123987456,
 '_id': 3}
{'Address': 'cab street',
 'Location': 'Chennai',
 'Name': 'Anthony',
 'Phone_no': 987321654,
 '_id': 4}
{'Address': 'aaa street',
 'Location': 'Chennai',
 'Name': 'Vikram',
 'Phone_no': 918273645,
 '_id': 5}
{'Address': 'bbb street',
 'Location': 'NCR',
 'Name': 'Jack',
 'Phone_no': 192837465,
 '_id': 6}
{'Address': 'ccc street',
 'Location': 'NCR',
 'Name': 'Mason',
 'Phone_no': 998877665,
 '_id': 7}
{'Address': 'bca street',
 'Location': 'Mumbai',
 'Name': 'Rahim',
 'Phone_no': 978675645,
 '_id': 8}
{'Address': 'cba street',
 'Location': 'Mumbai',
 'Name': 'Gopal',
 'Phone_no': 867564532,
 '_id': 9}
{'Address': 'abc street',
 'Location': 'Chennai',
 'Name': 'Krishnan',
 'Phone_no': 908897786,
 '_id': 10}
{'Address': 'aca street',
 'Location': 'Bangalore',
 'Name': 'Kumar',
 'Phone_no': 978675567,
 '_id': 11}

In [38]:
# Deleting Many records in a collection specifying a condition
my_col.delete_many({"Address": "abc street"})

In [39]:
for i in my_col.find():
    pprint(i)

{'Address': 'bbc street',
 'Location': 'Chennai',
 'Name': 'Neeraj',
 'Phone_no': 987654321,
 '_id': 2}
{'Address': 'bac street',
 'Location': 'Chennai',
 'Name': 'Mark',
 'Phone_no': 123987456,
 '_id': 3}
{'Address': 'cab street',
 'Location': 'Chennai',
 'Name': 'Anthony',
 'Phone_no': 987321654,
 '_id': 4}
{'Address': 'aaa street',
 'Location': 'Chennai',
 'Name': 'Vikram',
 'Phone_no': 918273645,
 '_id': 5}
{'Address': 'bbb street',
 'Location': 'NCR',
 'Name': 'Jack',
 'Phone_no': 192837465,
 '_id': 6}
{'Address': 'ccc street',
 'Location': 'NCR',
 'Name': 'Mason',
 'Phone_no': 998877665,
 '_id': 7}
{'Address': 'bca street',
 'Location': 'Mumbai',
 'Name': 'Rahim',
 'Phone_no': 978675645,
 '_id': 8}
{'Address': 'cba street',
 'Location': 'Mumbai',
 'Name': 'Gopal',
 'Phone_no': 867564532,
 '_id': 9}
{'Address': 'aca street',
 'Location': 'Bangalore',
 'Name': 'Kumar',
 'Phone_no': 978675567,
 '_id': 11}